@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Kurale";
  src: url("/fonts/Raleway.ttf");
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}

#header {
  padding: 22px 0;
}
.logo {
  margin-bottom: 2px;
}
#navHead {
  padding-top: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif !important;
}
.navbar-brand h1 {
  font-size: 30px !important;
  line-height: 1 !important;
  font-weight: 700;
  letter-spacing: 1px !important;
}

.navbar-brand {
  /* width: 145px !important; */
  height: 35px !important;
}

.navbar-toggler {
  width: 28px !important;
  height: 28px !important;
}
.navbar-brand h1,
.navbar-brand h1:hover {
  color: #14279b !important;
  text-decoration: none !important;
}
.nav-item .child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px !important;
  font-size: 15px;
  font-weight: 400;
  color: #555555;
  white-space: nowrap;
  line-height: 1.5;
  /* letter-spacing: 0.7px; */
  font-family: "Open Sans", sans-serif !important;
  transition: 0.3s;
}
.navbar-nav .child:hover {
  color: #14279b !important;
}

.navbar .getstarted {
  background: #14279b;
  padding: 8px 25px !important;
  margin-left: 30px;
  /* width: 124px; */
  text-decoration: none;
  color: white !important;
}

.navbar .getstarted:hover {
  background: #4aa3df;
  color: white !important;
}
.fixed-top {
  padding: 28px;
  transition: all 0.3s ease-in-out !important;
}

.scrolled {
  background-color: #ffffff !important;
  padding: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1) !important;
}

/* hero */
#hero {
  height: 70vh;
  margin-top: 70px !important;
  padding: 60px 0;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #14279b;
}
.customeIcon {
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
  margin: 2.5px;
}

#hero h2 {
  color: #484848;
  margin-bottom: 50px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #14279b;
  border: 2px solid #14279b;
  text-decoration: none;
}

#hero .btn-get-started:hover {
  background: #14279b;
  color: #fff;
  text-decoration: none;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
/* client */
.clients {
  background: #f3f9fd;
  padding: 10px 0;
  text-align: center;
}

.clients .col-lg-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients img {
  width: 50%;
  filter: grayscale(100);
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 10px 0;
}

.clients img:hover {
  filter: none;
}

/* about */
.about,
.services,
.features,
.more-services,
.contact {
  padding: 60px 0;
}
.about .content h2 {
  font-weight: 600;
  font-size: 26px;
}
.section-title h2::before {
  margin: 0 15px 10px 0;
}
.section-title h2::after {
  margin: 0 0 10px 15px;
}
.section-title h2::before,
.section-title h2::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #14279b;
  display: inline-block;
}

.about .content ul li + li {
  margin-top: 10px;
}

.about .content ul svg {
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #14279b;
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .btn-learn-more {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  transition: 0.3s;
  line-height: 1;
  color: #14279b;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #14279b;
  text-decoration: none;
}

.about .content .btn-learn-more:hover {
  background: #14279b;
  color: #fff;
  text-decoration: none;
}
p {
  font-family: "Open Sans", sans-serif !important;
  color: #444444;
  font-size: 1.045rem;
  line-height: 1.5;
}
.content ul li {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  font-size: 1.045rem;
  line-height: 1.5;
}

/* count */

.counts .content .count-box span {
  font-size: 36px;
  line-height: 30px;
  margin-top: -34px;
  display: block;
  font-weight: 700;
  color: #222222;
  margin-left: 50px;
  font-family: "Open Sans", sans-serif;
}

.counts .content .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 50px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #484848;
}

.counts .content .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #484848;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}

.counts .content .count-box a:hover {
  color: #6f6f6f;
}
.line_icon {
  font-size: 32px;
}

/* service */
.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.services .icon-box::before {
  content: "";
  position: absolute;
  background: #e1f0fa;
  right: -60px;
  top: -40px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  transition: all 0.3s;
  z-index: -1;
}
.contact_icon {
  color: #14279b;
  font-size: 32px;
}
.map {
  color: #14279b;
  font-size: 58px;
  margin-top: -8px;
}
.services .icon-box:hover::before {
  background: #14279b;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}
.icon-box:hover .customeIcon {
  color: #14279b;
}
.services .icon {
  margin: 0 auto 20px auto;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #14279b;
  transition: all 0.3s ease-in-out;
}

.services .icon i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
}

.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: #111;
  text-decoration: none;
}

.services .description {
  font-size: 15.5px;
  line-height: 28px;
  color: #444444;
  margin-bottom: 0;
  font-family: "Open Sans", sans-serif !important;
}

.services .icon-box:hover .title a,
.services .icon-box:hover .description {
  color: #fff;
}

.services .icon-box:hover .icon {
  background: #fff;
}

/* more services */
.more-services {
  padding-top: 20px;
}

.more-services .card {
  border: 0;
  padding: 160px 20px 20px 20px;
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.more-services .card-body {
  z-index: 10;
  background: #f6f6f6;
  padding: 15px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  transition: ease-in-out 0.4s;
  border-radius: 5px;
}

.more-services .card-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

.more-services .card-title {
  color: #222222;
}

.more-services .card-text {
  color: #5e5e5e;
}

.more-services .card:hover .card-body {
  background: #14279b;
}

.more-services .card:hover h5 p,
.more-services .card:hover .card-title,
.more-services .card:hover .card-title a,
.more-services .card:hover .card-text {
  color: #fff;
}

/* features */
.features .icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  background: #f6f6f6;
  transition: ease-in-out 0.3s;
}

.features .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}

.features .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
}

.features .icon-box h3 p {
  color: #222222;
  margin-bottom: 0;
  transition: ease-in-out 0.3s;
}

.features .icon-box h3 p:hover {
  color: #14279b;
}

.features .icon-box:hover {
  background: #eef7fc;
}

/* contact */
.contact {
  font-family: "Open Sans", sans-serif;
}
.contact .contact-about h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  color: #14279b;
}

.contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Raleway", sans-serif !important;
  color: #888;
}

.info div p {
  padding: 0 0 10px 15px;
  line-height: 28px;
  font-size: 15px;
  color: #585757;
}

.contact .email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .email-form .error-message br + br {
  margin-top: 25px;
}

.contact .email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .email-form .form-group {
  margin-bottom: 20px;
}

.contact .email-form input,
.contact .email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  padding: 10px 15px;
}

.contact .email-form input:focus,
.contact .email-form textarea:focus {
  border-color: #14279b;
}

.contact .email-form button[type="submit"] {
  background: #14279b;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .email-form button[type="submit"]:hover {
  background: #2383c4;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* media quary */

@media (max-width: 768px) {
  .clients img {
    width: 40%;
  }
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero {
    margin-top: 20px;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

@media (max-width: 575px) {
  .clients img {
    width: 30%;
  }
}

@media (max-width: 1024px) {
  .counts .image {
    text-align: center;
  }
  .counts .image img {
    max-width: 70%;
  }
}

@media (max-width: 667px) {
  .counts .image img {
    max-width: 100%;
  }
}

#contact,
#about_indi {
  margin-top: 80px;
}

#footer {
  background: #fff;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  color: #222222;
  font-size: 14px;
}

#footer .footer-links a {
  color: #14279b;
  padding-left: 15px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none !important;
}

#footer .footer-links a:first-child {
  padding-left: 0;
  text-decoration: none !important;
}

#footer .footer-links a:hover {
  color: #2383c4;
  text-decoration: none !important;
}

/* icons */
.calendar {
  color: #ff5828;
}
.ad {
  color: #29cc61;
}
.media {
  color: #b20969;
}
.cont {
  color: #b2904f;
}
.bar{
  color: #574bff;
}
.map_pin{
  color: #dbce11;
}
.todo{
  color: #ffa76e;
}
.eye{
  color: #47aeff;
}
.play{
  color: #e361ff;
}
.creative{
  color: #e80368;
}
.code{
  color: #5578ff;
}
.window{
  color: #ffbb2c;
}

